<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <footer>
            <div class="container">
                <div class="row py-5 gy-5">
                    <div class="col-md-3 col-sm-12">
                        <h1 class="text-danger">Filmora</h1>
                        <p class="text-white py-3 lh-lg">Discover your next favorite movie! 
                            Our app brings you the latest blockbusters and timeless classics, all in one place</p>
                            <div id="social_media text-white">
                                <i class="fa-brands fa-facebook-f   p-2 rounded-5"></i>
                                <i class="fa-brands fa-twitter  mx-3  p-2 rounded-5"></i>
                                <i class="fa-brands fa-instagram   p-2 rounded-5" ></i>

                            </div>
                    </div>

                    <div class="col-md-3 col-sm-12 text-center">
                        <h4 class="text-white pb-3">Movies</h4>
                        <ul class="list-unstyled text-center">
                            <li><a routerLink="/categories/now_playing" class=" text-decoration-none text-secondary ">Now Playing</a></li>
                            <li class="py-3"><a  class=" text-decoration-none text-secondary " routerLink="/categories/popular">Popular</a></li>
                            <li><a  class=" text-decoration-none text-secondary " routerLink="/categories/top_rated">Top Rated</a></li>
                            <li class="py-3"><a  class=" text-decoration-none text-secondary" routerLink="/categories/upcoming">Upcoming</a></li>
                        </ul>

                    </div>

                    <div class="col-md-3 col-sm-12 text-center">
                        <h4 class="text-white pb-3">TV Series Lists</h4>
                        <ul class="list-unstyled text-center">
                            <li><a routerLink="/TV/airing_today" class=" text-decoration-none text-secondary ">Airing Today</a></li>
                            <li class="py-3"><a  class=" text-decoration-none text-secondary " routerLink="/TV/on_the_air">On The Air</a></li>
                            <li><a  class=" text-decoration-none text-secondary " routerLink="/TV/top_rated">Top Rated</a></li>
                            <li class="py-3"><a  class=" text-decoration-none text-secondary " routerLink="/TV/popular">Popular</a></li>
                        </ul>

                    </div>

                    <div class="col-md-3 col-sm-12">
                        <h4 class="text-white">Subscribe</h4>
                        <input class="form-control my-4" type="email" placeholder="Enter your email"/>
                        <button class="btn btn-danger">Subscribe</button>
                    </div>




                </div>
                 
            </div>


        </footer>
        
        <script src="" async defer></script>
    </body>
</html>