#login_section {
    background-image: url("../../../assets/home.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  #layer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
  }
  
  .form-control {
    background-color: rgb(19, 19, 19);
    border: none;
  }
  
  .form-control::placeholder {
    color: rgb(185, 181, 181);
  }
  
  .form-control:focus {
    border-color: #dc3545;
    color:white;
    box-shadow: 0 0 0 0.25rem #dc3545;
    background-color: rgb(19, 19, 19);
  }
  
  #l {
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
  }
  
  @media screen and (max-width: 1200px) {
    #l {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 700px) {
    #l {
      width: 75%;
    }
  }
  
  @media screen and (max-width: 400px) {
    #l {
      width: 100%;
    }
  }
  